# Set default behaviour, in case users don't have core.autocrlf set.
*         text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.cs      text diff=csharp
*.js      text
*.aspx    text
*.ascx    text
*.ashx    text
*.asmx    text
*.sql     text
*.css     text
*.scss    text
*.sass    text
*.resx    text
*.xml     text
*.xsd     text
*.xsl     text
*.xslt    text
*.html    text
*.htm     text
*.cshtml  text
*.rb      text
*.vbs     text
*.py      text
*.proj    text
*.ps1     text
*.cmd     text
*.md      text
*.txt     text
*.config  text

# Declare files that will always have CRLF line endings on checkout.
*.sln     text eol=crlf
*.csproj  text eol=crlf
*.vdproj  text eol=crlf

# Binary files, no line ending conversion
# (binary is a macro for -text -diff)
*.png     binary
*.ico     binary
*.jpeg    binary
*.jpg     binary
*.gif     binary
*.sdf     binary
*.bak     binary
*.jar     binary
*.dll     binary
*.exe     binary
*.pdb     binary